
@section Scripts{
    <script>
        $("#select1").change(function () {
            console.log("Entro al script")
            if ($(this).data('options') == undefined) {
                $(this).data('options', $('#select2 option').clone());
            }
            //console.log($(this).val());
            var id = $(this).val();
            var options = $(this).data('options').filter('[data-value=' + id + ']');
            //console.log(options);
            $('#selectiondiv').show();
            //document.getElementById("selectiondiv").style.display = "block";
            $('#select2').html(options).show();
        });

        function GetNote() {
            var note1 = parseFloat((document.getElementById("nota1").value));
            //var note2 = parseFloat((document.getElementById("nota2").value));

            //var notadef = (note1 + note2);
            alert(note1);
            //return notadef
        }


        /*function cal() {

            if (document.getElementById("nota1")) {
                var dump = document.getElementById("demo").value.GetNote();
            }

        }*/

    </script>
}


<div class="container">
    <h2>Ingreso Calificaciones</h2>
    <form role="form" class="form-horizontal" id="idFormIngrCal" method="~/Home/ResultadoCalificacion">

        <div class="form-group">
            <label class="col-sm-1" for="inputPassword1">Materia</label>
            <div class="col-sm-5">
                <select class="form-control" name="select1" id="select1">
                    <option value="">Seleccione la Materia</option>
                    <option value="1">Algebra y Trigonometria</option>
                    <option value="2">Calculo Diferencial</option>
                    <option value="3">Calculo Integral</option>
                    <option value="4">Ecuaciones Diferencial</option>
                    <option value="5">Metodos Numericos</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="selectiondiv" style="display: none;">
            <label class="col-sm-1" for="inputPassword1">Alumno</label>
            <div class="col-sm-5">
                <select class="form-control" name="select2" id="select2" style="display: none;">
                    <option>---</option>
                    <option data-value="1">Macnelly Torres</option>
                    <option data-value="1">Franco Armani</option>
                    <option data-value="1">Alexis Henriquez</option>
                    <option data-value="1">Andres Guerra</option>
                    <option data-value="2">Matheus Uribe</option>
                    <option data-value="2">Diego Arias</option>
                    <option data-value="2">Alexander Mejia</option>
                    <option data-value="3">Farid Diaz</option>
                    <option data-value="3">Wilson Borja</option>
                    <option data-value="3">Marlos Moreno</option>
                    <option data-value="4">Sebastian Perez</option>
                    <option data-value="4">Andres Ibargue</option>
                    <option data-value="4">Daniel Bocanegra</option>
                    <option data-value="4">Davinson Sanchez</option>
                    <option data-value="5">Felipe Aguilar</option>
                    <option data-value="5">Victor Ibarbo</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3"><label>Nota 1</label><input type="text" class="form-control" id="nota1" name="nota1" placeholder="Ingrese Nota" onchange="cal()"/></div>
            <div class="col-sm-3"><label>Nota 2</label><input type="text" class="form-control" id="nota2" name="nota2" placeholder="Ingrese Nota" onchange="cal()"/></div>
            <div class="col-sm-3"><label>Nota 3</label><input type="text" class="form-control" placeholder="Ingrese Nota"></div>
            <div class="col-sm-3"><label>Nota 4</label><input type="text" class="form-control" placeholder="Ingrese Nota"></div>
            <div class="col-sm-3"><label>Nota 4</label><input type="text" class="form-control" id="notdef" name="notdef" placeholder="Nota Definitiva"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <!--<button type="submit" class="btn btn-danger pull-right" value="Submit" id="submitBtn" data-toggle="modal" data-target="#exampleModalLong">Enviar</button>-->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">CALCULAR</button>
            </div>
        </div>


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">RESULTADO </h4>
                    </div>
                    <div class="modal-body">
                        <p>La Calificacion total es : </p>
                        <p id="demo"> </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Enviar</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>



