
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultadoCalificacion</title>
</head>
<body>
    <div> 
        <h3>Resultado</h3>
    </div>
</body>
</html>
