
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Desarrollor Fabio Alzate</h3>
    <div> 
    </div>
</body>
</html>
